.navbar>.container{
    background-color:#40A2E3;
    
    height: 150px;
    max-width: 2000px;
    
}
.logo{
    margin-top: 50px;
    width:300px;
    height: auto;
} 

@media (max-width: 768px) {
    /* Adjust logo styles for smaller screens */
    .logo {
        margin-top: 20px;
        width: 200px;
    }    
}    
