.navbar>.container{
    background-color:#2D9596;
    
    height: 90px;
    max-width: 2000px;
    
}
.logo{
    
    width:auto;
    height: 90px;
} 
.nav-link{
    color: #F1FADA;
}
.nav-link:focus, .nav-link:hover {
    color: #F1FADA;
}
@media (max-width: 200px) {
    /* Adjust logo styles for smaller screens */
    .logo {
        width: 90px;
    }    
}    
