.navbar>.container{
    background-color:#2D9596;
    
    height: 90px;
    max-width: 2000px;
    
}
.logo{
    
    width:auto;
    height: 90px;
} 

@media (max-width: 200px) {
    /* Adjust logo styles for smaller screens */
    .logo {
        width: 90px;
    }    
}    
